POSTGRES_DB=muni_lost_time_atlas
POSTGRES_HOST=127.0.0.1
POSTGRES_USER=muni
POSTGRES_PASSWORD=muni_local_dev_change_me
POSTGRES_PORT=5432
POSTGRES_CONTAINER_NAME=muni-lost-time-atlas-db
TRANSIT_511_API_KEY=replace_with_local_511_token
API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
MAINTENANCE_MODE=false
